In [21]:
# 輸出

print("python class1")
print('python class2')

print(123)
print('123')

print(123 + 456)

python class1

In [10]:
print(123)
print(456)

123
456

In [11]:
print(123, 456)

123 456

In [ ]:
# end: 換行
# sep: 「空白」

In [12]:
print(123, 456, sep='&')

123&456

In [15]:
print(123, 456, 789, end='')

123 456 789

In [19]:
# 輸入
print(input('請輸入你的名字'))

請輸入你的名字alan
alan

In [ ]:
# hello name
print('hello', 'name')

In [29]:
# 變數
# print('大家好！我是alan，今年18歲，興趣是喜歡運動！')
# print('大家好！我是',input(), '，今年18歲，興趣是喜歡運動！')
# print('大家好！我是{name}，今年{age}歲，興趣是喜歡{habit}！')

# 變數名稱 = 值

x = 10
# print(x + 30)


name = 'amy'
# print(name)
type(name)

str

In [ ]:
# 變數型態 Data Type
# 數字: 整數、浮點數
# 文字: 字串
# 布林值 boolean: 0/1

int
float
str
bool


# 0 -> False
# 1 -> True

In [25]:
type('amy')
type(123)
type(30.34)
type('123')
type(10.0)

str

In [ ]:
int()
float()
str()
bool()

In [34]:
x = 10 # int
# type(x)

type(str(x))

10 -> '10'

str

In [44]:
print(23 + 45)
print('23' + '45')

x = 2026
print('今年' + str(x))

68
2345
今年2026

In [39]:
print('hello' , 'world')
print('hello' + 'world')

hello world
helloworld

In [49]:
# 變數名稱 = 值
ch = input('國文幾分')
print(ch)

國文幾分100
100

In [ ]:
# 練習：詢問國文、英文、數學成績 -> 得到總成績 -> 輸出「你的成績總和是{total}」

# 字串相加、整數相加、input、print、變數型態的轉換

In [52]:
# f-string
name = 'alan'
age = 20
habit = '運動'

# print('大家好！我是{name}，今年{age}歲，興趣是喜歡{habit}！')
print(f'大家好！我是{name}，今年{age}歲，興趣是喜歡{habit}！')

大家好！我是alan，今年20歲，興趣是喜歡運動！

In [55]:
# 序列
x = 10

x = x * 10 + 3

print(x)

20

In [ ]:
'''
題目：

alan因為最近爆紅的'鮭魚吃到飽活動'，想要將自己的名字改成：
'alan鮭魚之亂'

- 程式第一行為 name = 'alan'
- 請先輸出 “原本的名字是 <原名>”
- 接著透過 name來修改名字
- 最後請輸出 “現在的名字是 <修改後的名字>”

'''

In [ ]:
a = 1
b = 1
c = 1

a = b = c = 1 # 多個相同值

In [ ]:
name = 'amy'
age = 20

name, age = 'amy', 20 # 同列指定多個變數

In [57]:
name = 'bob'
print(name)

del name

print(name)

bob

NameError: name 'name' is not defined

In [ ]:
'''
命名規則：

1. 大小寫的英文、中文、數字、_
2. 數字不能開頭
3. 大小寫不一樣的變數
4. 不能用到保留字 (if, else, for, while)
'''

# correct
name1
name2

# wrong
1name
2name

In [65]:
# 數學運算子 Operator： + - * /

a = int(input())
b = int(input())

print(a + b)
print(a - b)
print(a * b)
print(a / b)

# 次方
print(a ** b)
# 除法取商 (整除)
print(a // b)
# 除法取餘數 (mod)
print(a % b)

10
3
3
1

In [ ]:
# 有一間學校共有 n 位新生，每 k 位一班，請製作一個程式輸入n,k值後輸出班級數及未分到班級的學生數

# 班級數 = ?，剩餘 ? 人

In [ ]:
# 邏輯運算子 Operator（判斷）： and, or, not, >, <, >=, <=, ==, !=

# and（交集）
True and True -> True
True and False -> False
False and True -> False
False and False -> False

# or（聯集）
True or True -> True
True or False -> True
False or True -> True
False or False -> False

# not（反向）
not True -> False
not False -> True

In [ ]:
True or False and True -> True
False and False or True -> True
True or False and True and False or True and False or True and True -> True
1 == '1' or 1 >= 1 and False or True -> True

In [67]:
print(123 + 456)
print('hello' + 'world')
print('hi' * 2)

579
helloworld
hihi

In [69]:
# 複合指定運算子： +=, -=, *=, /=

x = 10

x = x + 10
x += 10

print(x)

20

In [ ]:
'''
練習：計算複利本金

本金 * (1 + 利率) ^ 年
利率是 2%
6年後存款是？

使用者輸入：本金
需用到：複合指定運算子
'''